.img-div{
    display: flex;
    flex-direction: column;
    margin-left: auto;
    margin-right: auto;
    flex-wrap: wrap;
    width: 90vw;
    justify-content: space-between;
    margin-top: 5%;
}

.small-img-div{
    display: flex;
    width: 90vw;
    justify-content: space-between;
    margin-top: 5%;
}

.long-img{
    width: 90vw;
    height: 50vw;
    object-fit: cover;
    border: var(--red) solid 1px;
    box-sizing: border-box;
}

.small-img{
    width: 43vw;
    height: 43vw;
    object-fit: cover;
    border: var(--red) solid 1px;
    box-sizing: border-box;
}

.img-section-2{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    
}

.square-text-box{
    width: 43vw;
    height: 43vw;
    background-color: var(--green);
    padding: 5%;
    border: var(--red) solid 1px;
    box-sizing: border-box;
    margin: 0;
    margin-top: 5%;
}

.yellow-box{
    background-color: var(--yellow);
}

.height-img{
    height: 90vw;
    width: 43vw;
    object-fit: cover;
    border: var(--red) solid 1px;
    box-sizing: border-box;
}


@media screen and (min-width: 992px){
    .whole-img-div{
        display: flex;
        flex-wrap: wrap;
        width: 81vw;
        margin-left: 10rem;
        justify-content: space-between;
    }

    .img-div{
        display: flex;
        flex-direction: row;
        margin-left: 0%;
        margin-right: 0%;
        flex-wrap: wrap;
        width: 40vw;
        justify-content: space-between;
        margin-top: 1vw;
        align-content: space-between;
    }

    .small-img-div{
        display: flex;
        width: 40vw;
        justify-content: space-between;
        margin-top: 0%;
    }
    



    .long-img{
        width: 40vw;
        height: 19.5vw;
        border: var(--red) solid 2px;
    }
    
    .small-img{
        width: 19.5vw;
        height: 19.5vw;
        border: var(--red) solid 2px;
    }
    
    .height-img{
        height: 40vw;
        width: 19.5vw;
        object-fit: cover;
        border: var(--red) solid 2px;
        box-sizing: border-box;
    }

    .square-text-box{
        width: 19.5vw;
        height: 19.5vw;
        padding: 5%;
        border: var(--red) solid 2px;
        margin: 0;
        margin-top: 0%;
    }

    .small-img-div-vertical{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }


}



