#taske-billede{
    width: 90vw;
    height: auto;
    object-fit: cover;
    display: flex;
    margin-left: auto;
    margin-right: auto;
    border: var(--red) solid 1px;
    box-sizing: border-box;
}

#first-section-with-check{
    background-image: url("assets/img/tern.png");
    width: 100vw;
    background-size: contain; 
    height: 18rem;
    margin-top: 19%;
    display: flex;
    align-items: center;
    position: relative;
}

#smil-tegning{
    position: absolute;
    bottom: 0;
    right: 15vw;
    width: 12rem;
}

#klistermærke-rund{
    position: absolute;
    width: 7rem;
    top: 0;
    right: 0;

}

.st0{
    fill:none;stroke:#70F054;stroke-width:100;stroke-miterlimit:10;
}


.photo-container{
    display: flex;
    max-width: 90vw;
    margin-top: 4vw;
    flex-wrap: wrap;
    margin-left: auto;
    margin-right: auto;
    justify-content: space-between;
}

.square-img{
    width: 43vw;
    height: 43vw;
    border: var(--red) solid 1px;
    box-sizing: border-box;
    object-fit: cover;
}

.square-item{
    margin-top: 4vw;
    margin-bottom: 4vw;
}

.square-text-box{
    width: 43vw;
    height: 43vw;
    background-color: var(--yellow);
    font-family: Readex Pro;
    font-weight: 300;
    font-size: 1rem;
    padding: 5%;
    border: var(--red) solid 1px;
    box-sizing: border-box;
    margin: 0;
}


.inspiration-frontpage-section{
    position: relative;
}

.text-and-btn-container{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.btn-photo-container{
   margin-top: -1.25rem; 
}

.crochet-font-section{
    width: 100vw;
    margin-top: 20%;
}

.citat-forfatter{
    display: flex;
    justify-content: center;
    margin-bottom: 25%;
}

.text-banner-infinity{
    display: flex;
    justify-content: flex-start;
    overflow: hidden;
    background-color: var(--yellow);
    border-bottom: var(--red) solid 2px;
    border-top: var(--red) solid 2px;
    width: 100vw;
}

.banner-text{
    white-space: nowrap;
    padding: 0 1rem;
    animation: move-rtl 17000ms linear infinite;
    margin-top: 2%;
    margin-bottom: 2%;
}

@keyframes move-rtl{
    0% {
        transform: translateX(100vw);
    }
    100% {
        transform: translateX(-900vw);
    }
}






.green-opskrift-section{
    background-color: var(--green);
    padding-top: 20%;
    border-bottom: var(--red) solid 1px;
    border-top: var(--red) solid 1px;
}

.sommertoppen-section{
    margin-bottom: 20%;
}

.taske-section{
    margin-bottom: 20%;
}

.hat-section{
    padding-bottom: 20%;
}

.opskrift-text-headline{
    margin-left: 0 !important; 
    margin-bottom: 2% !important;
}

.opskrift-section{
    display: flex;
    flex-direction: column;
    margin-left: auto;
    margin-right: auto;
    width: 80vw;
}

.opskrift-section-img{
    width: 80vw;
    height: 80vw;
    object-fit: cover;
    border: var(--red) solid 1px;
    box-sizing: border-box;
}

