
/* main */
@media screen and (min-width: 992px){

    

    /* Navigation */
    .ham{
        display: none;
    }

    .navigation-menu{
        right: 0;
        display: flex;
        flex-direction: row;
        width: 80vw;
        top: 1vw;
        border: none;
        background-color: transparent;
        z-index: 15;
        margin-bottom: 0;
    }

    .navigation-items{
        background-color: transparent;
        color: var(--red);
        font-size: 1.5rem;
        justify-content: center;
        margin-bottom: 0;
    }

    .navigations-headlines{
        color: var(--red);
    
    }

    .navigations-headlines:hover, #haekleskole:hover, .dropdown-listitems:hover{
        font-weight: 400;
        cursor: pointer;
    }

    .dropdown-icon{
        margin-left: 1.5rem;
    }

    .dropdown-icon span{
        background-color: var(--red);
    }

    .dropdown-list{
        border-style: dashed;
        border-width: 2px;
        border-top: none;
        border-color: var(--red);
        background-color: var(--lightpink);
        flex-direction: column;
    }


    /* fonte */
    
    .first-h1{
        margin-top: 35%;
        margin-bottom: 5%;
        margin-left: 5%;
        margin-right: 5%;
    }

    .frogg-text{
        margin-right: 0% !important;
    }
    
    .h1{
        font-family: StretchedReadex;
        font-size: 5.3rem;
        margin-left: 10rem;
        margin-right: 5%;
        margin-bottom: 2%;
    }
    
    .h2{
        font-family: Readex Pro;
        font-weight: 300;
        text-transform: uppercase;
        font-size: 3.75rem;
        margin-left: 10rem;
    }
    
    .h3{
        font-family: "Oswald";
        font-weight: 200;
        font-size: 1.875rem;
        text-transform: uppercase;
        margin-left: 10rem;
        margin-right: 5%;
        margin-top: 2%;
    }
    
    .h4{
        font-family: Oswald;
        font-size: 1.25rem;
        font-weight: 500;
        margin-left: 5%;
        margin-right: 5%;
    }
    
    .h5{
        font-family: Roboto;
        text-transform: uppercase;
        font-size: 1.06rem;
        font-weight: 500;
        margin-left: 5%;
    }
    
    .h6{
        font-family: Oswald;
        font-size: 1.06rem;
        margin-left: 5%;
        margin-right: 5%;
        margin-bottom: 0;
    }
    
    

    
    .p{
        font-family: Readex Pro;
        font-weight: 300;
        font-size: 1rem;   
        margin-bottom: 2vw;                                                                                                                                                   
    }




    /* Buttons */

    .btn{
        font-family: Roboto;
        font-weight: 400;
        text-transform: uppercase;
        font-size: 1.06rem;
        text-decoration: none;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 245px;
        height: 42px;
    
    }
    
    .double-btn{
        font-family: Roboto;
        font-weight: 400;
        text-transform: uppercase;
        font-size: 1.06rem;
        text-decoration: none;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 245px;
        height: 65px;
        text-align: center;
    }
    
    .btn-dash{
        color: var(--blue);
        border-style: dashed;
        border-width: 2px;
        box-sizing: border-box;
        background-color: var(--lightpink);
    }
    
    .btn-dash :hover{
        border-style: var(--blue) solid;
        cursor: pointer;
    }
    
    .btn-blue{
        color: var(--white);
        background-color: var(--blue);
    }
    
    .btn-blue :hover{
        background-color: #040DA2;
        cursor: pointer;
    }



    
    .text-slange{
        font-size: 2rem;
        
    }

    text{
        transform:translate3d(0,.8rem,0);
    }





    /* Footer */
    .footer-img{
        margin-bottom: -130px;
        margin-top: 5vw;
        width: 20vw;
        display: flex;
        margin-left: 20rem;
        margin-right: auto;
    }
    
    footer{
        background-color: var(--black);
    }
    
    .negativt-logo{
        width: 15rem;
        margin-left: 10rem;
    }
    
    .a-footer{
        color: var(--white);
        text-align: end;
        margin-top: 5%;
        margin-bottom: 5%;
    }
    
    .footer-content{
        display: flex;
        flex-direction: row;
        width: 100vw;
        justify-content: space-between;
        padding-bottom: 0%;
        padding-top: 0%;
    }
    
    .footer-text-container{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin-right: 10vw;
        width: 50%;
        align-items: center;
    }
    
    .line-under-dropdown-item-footer{
        margin: 0; 
        width: 95vw;
        margin-left: auto;
        margin-right: auto;
        background-color: var(--white);
        height: 2px;
        
    }
    
    .some-icon{
        width: 2rem;
        padding: 15%;
    }
    
    .some-icon-section{
        display: flex;
        justify-content: center;
    }
    
    .a-some{
        padding: 2%;
    }


}

/* index */
@media screen and (min-width: 1112px) and (max-width: 1230px){
    /* .first-text-span{
      padding-right: 5vw;
    } */
    .h1{
        margin-left: 5rem;
    }

    .btn-container{
        margin-left: 5rem;
    }
}

@media screen and (min-width: 992px){

    /* Body */
    .first-section-span{
        display: flex;
        flex-direction: row-reverse;
        height: 40vw;
    }

    .first-text-span{
        margin-top: 5vw;
        border-bottom: var(--red) 2px solid;
    }
    
    #taske-billede{
        width: 35vw;
        height: auto;
        object-fit: cover;
        display: flex;
        margin-left: auto;
        margin-right: auto;
        border: var(--red) solid 1px;
        box-sizing: border-box;
    }
    
    #first-section-with-check{
        background-image: url("assets/img/tern.png");
        width: 70vw;
        background-size: cover; 
        height: 100%;
        margin-top: 0;
        display: flex;
        align-items: center;
        position: relative;
    }
    
    #smil-tegning{
        position: absolute;
        bottom: 7vw;
        right: 12vw;
        width: 17vw;
    }
    
    #klistermærke-rund{
        position: absolute;
        width: 12vw;
        top: 25vw;
        right: 0;
    }

    .btn-container{
        display: flex;
        margin-left: 10rem;
        margin-top: 2vw;
        width: 33rem;
        justify-content: space-between;
    }

    .st0{
        fill:none;
        stroke:#70F054;
        stroke-width:60;
        stroke-miterlimit:10;
    }

    .slange{
        margin-top: 8vw;
    }
    






    .crochet-font-section{
        width: 100vw;
        margin-top: 15vw;
    }

    .citat-forfatter{
        display: flex;
        justify-content: center;
        margin-bottom: 15vw;
    }

    .text-banner-infinity{
        display: flex;
        justify-content: flex-start;
        overflow: hidden;
        background-color: var(--yellow);
        border-bottom: var(--red) solid 1px;
        border-top: var(--red) solid 1px;
        width: 100vw;
    }
    
    .banner-text{
        white-space: nowrap;
        padding: 0 0;
        animation: move-rtl 45000ms linear infinite;
        margin-top: 1%;
        margin-bottom: 1%;
        margin-left: 2%;
        margin-right: 2%;
    }

    .green-opskrift-section{
        background-color: var(--green);
        padding-top: 3vw;
        border-bottom: var(--red) solid 1px;
        border-top: var(--red) solid 1px;
        display: flex;
        padding-left: 12vw;
        padding-right: 12vw;
        padding-bottom: 3vw;
        width: 1;
    }
    
    .sommertoppen-section{
        margin-bottom: unset;
    }
    
    .taske-section{
        margin-bottom: unset;
    }
    
    .hat-section{
        padding-bottom: unset;
    }
    
    .opskrift-text-headline{
        margin-left: 0 !important; 
        margin-bottom: 0% !important;
    }
    
    .opskrift-section{
        display: flex;
        flex-direction: column;
        margin-left: auto;
        margin-right: auto;
        width: 20vw;
    }
    
    .opskrift-section-img{
        width: 17vw;
        height: 17vw;
        object-fit: cover;
        border: var(--red) solid 2px;
        box-sizing: border-box;
    }







}
