/* Fonte fra Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300;700&family=Readex+Pro&family=Roboto:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Readex+Pro:wght@300&display=swap');

@font-face {
    font-family: StretchedReadex;
    src: url("assets/fonts/StretchedReadex-Regular.ttf");
  }


/* Farver */
:root {
    --lightpink: #FAF0F7;
    --white: #FFFFFF; 
    --red: #DA503C;
    --purlpe: #C1B6F0; 
    --green: #71F055;
    --yellow: #F4E767; 
    --blue: #1825FF; 
    --black: #000000;
}

body{
    background-color: #FAF0F7;
    width: 100%;
    margin: 0;
}

.progress-container {
    width: 100vw;
    height: 8px;
    background: transparent;
}
  
  /* The progress bar (scroll indicator) */
  .progress-bar {
    height: 8px;
    background: var(--red);
    width: 0%;
    position: absolute;
    top: 100%;
    z-index: 1;
}





/* Hamburgermenu */
/* Kode inspireret af: https://codepen.io/ainalem/pen/LJYRxz?editors=1100 d. 7 maj 2023 - 
der er lavet tilrettelser, så det passer ind til designet */

.ham{
    height: 87px;
    -webkit-tap-highlight-color: transparent;
    transition: transform 400ms;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.hamRotate.active{
    transform: rotate(45deg);
}

.hamRotate180.active{
    transform: rotate(180deg);
}

.line{
    fill:none;
    transition: stroke-dasharray 400ms, stroke-dashoffset 400ms;
    stroke:#DA503C;
    stroke-width: 4;
    stroke-linecap: square;
}

.ham8 .top {
    stroke-dasharray: 40 160;
}

.ham8 .middle {
    stroke-dasharray: 50 142;
    transform-origin: 50%;
    transition: transform 400ms;
}

.ham8 .bottom {
    stroke-dasharray: 40 85;
    transform-origin: 50%;
    transition: transform 400ms, stroke-dashoffset 400ms;
}

.ham8.active .top {
    stroke-dashoffset: -64px;
}

.ham8.active .middle {
    stroke-dashoffset: -10px;
    transform: rotate(90deg);
}

.ham8.active .bottom {
    stroke-dashoffset: -64px;
}


/* Navigation */
header{
    position: fixed;
    top: 0;
    height: 5rem;
    width: 100vw;
    z-index: 10;
}

#frogg-logo{
    width: 6.5rem;
    margin-left: 4vw;
    z-index: 10;
    /* position: relative; */
}

#nav-icon-container{
    display: flex;
    justify-content: space-between;
    z-index: 10;
    position: relative;
}

.hide-links{
    animation: navigation-slideout .2s ease-in-out;
}

#navbar{
    border-bottom: #DA503C 2px solid;
    width: 100%;
    background-color: var(--lightpink);
    height: 100%;
}

.navigation-menu{
    right: -70%;
    position: absolute;
    top: 100%;
    width: 16rem;
    display: flex;
    margin-left: auto;
    flex-direction: column;
    text-align: end;
    background-color: #FAF0F7;
    border: #DA503C 1px solid;
    margin-top: 0;
    
}

.show-links{
    right: 0;
    animation: navigation-slidein .2s ease-in-out;
}

@keyframes navigation-slidein {
    from{
        right: -70%;
    }
    to{
        right: 0;
    }
}

@keyframes navigation-slideout {
    from{
        right: 0%;
    }
    to{
        right: -70%;
    }
}

.dropdown-listitems{
    background-color:#FAF0F7;
    padding-right: 1.25rem;
    padding-top: .7rem;
    padding-bottom: .7rem;
}

.dropdown-listitems a{
    color: #DA503C;
}

#haekleskole{
    padding-right: 1.25rem;
    padding-bottom: .7rem;
}

.line-under-dropdown-item{
   margin: 0; 
   width: 12.5rem;
   margin-left: auto;
   margin-right: auto;
   background-color: #DA503C;
   height: 1px;
}

.last-line{
    margin-bottom: 1rem;
}

ul{
    list-style-type: none;
    padding: 0;
}

a{
    text-decoration: none;
}

.navigation-items{
    color: #FAF0F7;
    background-color: #DA503C;
    font-family: "Oswald";
    font-weight: 200;
    font-size: 1.88rem;
    width: 15rem;
    display: flex;
    justify-content: end;
    margin-left: auto;
    margin-bottom: 1rem;
    padding-top: .7rem;
    padding-bottom: .7rem;
    
}

.navigations-headlines{
    color: #FAF0F7;
    padding-right: 1.25rem;
}


.dropdown-items-container{
    display: flex;
    flex-direction: column;
    margin-left: auto;
    padding-bottom: 0 !important;
}

.dropdown-list{
    /* background-image: url("data:image/svg+xml,%3csvg width='100%25' height='100%25' xmlns='http://www.w3.org/2000/svg'%3e%3crect width='100%25' height='100%25' fill='none' stroke='%23333' stroke-width='4' stroke-dasharray='6%2c 14' stroke-dashoffset='0' stroke-linecap='square'/%3e%3c/svg%3e"); */
    border-style: dashed;
    border-width: 2px;
    border-top: none;
    border-right: none;
    border-color: #DA503C;
    background-color: #FAF0F7;
}





.dropdown-icon {
    position: relative;
    width: 0.65em;
    margin-bottom: .5rem;
    margin-left: .8rem;
}

#headline-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.dropdown-icon .dropdown-button {
    opacity: 0;
    position: absolute;
    z-index: 45;
    display: block;
    padding: 0;
    width: inherit;
    height: inherit;
}

.dropdown-icon span {
    pointer-events: none;
    display: block;
    position: absolute;
    top: 50%;
    left: 0;
    height: 2px;
    border-radius: 1px;
    background-color: var(--lightpink);
    -webkit-transition: -webkit-transform .2s ease;
    transition: -webkit-transform .2s ease;
    transition: transform .2s ease;
    transition: transform .2s ease,-webkit-transform .2s ease;
}


.dropdown-icon span:nth-child(2) {
    -webkit-transform: translateX(12px) rotate(45deg);
    -ms-transform: translateX(12px) rotate(45deg);
    transform: translateX(12px) rotate(45deg);
}

.dropdown-icon span:nth-child(3) {
    -webkit-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    transform: rotate(-45deg);
}

.dropdown-icon span {
    width: 18px;
}




/* Font styling */
.h1{
    font-family: StretchedReadex;
    font-size: 5.31rem;
    margin-left: 5%;
    margin-right: 5%;
}

.h3{
    font-family: "Oswald";
    font-weight: 300;
    font-size: 1.875rem;
    text-transform: uppercase;
    margin-left: 5%;
    margin-right: 5%;
}

.h2{
    font-family: Readex Pro;
    font-weight: 300;
    text-transform: uppercase;
    font-size: 3.75rem;
    margin: 5% 5%;
}

.didot-font{
    font-family: "linotype-didot", serif;
}

.red-font{
    color: var(--red);
}

.p{
    font-family: Readex Pro;
    font-weight: 300;
    font-size: 1rem;                                                                                                                                                             
}



/* Buttons styling */

.btn{
    font-family: Roboto;
    text-transform: uppercase;
    font-size: 1.17rem;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 145px;
    height: 34px;

}

.btn-dash{
    color: var(--blue);
    border-style: dashed;
    border-width: 2px;
    box-sizing: border-box;
}

.btn-dash :hover{
    border-style: var(--blue) solid;
    cursor: pointer;
}

.btn-blue{
    color: var(--white);
    background-color: var(--blue);
}

.btn-blue :hover{
    background-color: #040DA2;
    cursor: pointer;
}

.btn-container{
    display: flex;
    margin-left: 5%;
    width: 75vw;
    justify-content: space-between;
}






.purple-text-box{
    margin-top: 15%;
    width: 90vw;
    background-color: var(--purlpe);
    margin-left: auto;
    margin-right: auto;
    border: var(--red) solid 1px;
    box-sizing: border-box;
}



