#headline-container-tips{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#headline-container-tips:hover{
    cursor: pointer;
    background-color: var(--darkpurple);
  }