/* Dropdown icon */
.dropdown-icon .dropdown-button {
    opacity: 0;
    position: absolute;
    z-index: 45;
    display: block;
    padding: 0;
    width: inherit;
    height: inherit;
}

.dropdown-icon span {
    pointer-events: none;
    display: block;
    position: absolute;
    top: 50%;
    left: 0;
    height: 2px;
    border-radius: 1px;
    background-color: var(--lightpink);
    -webkit-transition: -webkit-transform .2s ease;
    transition: -webkit-transform .2s ease;
    transition: transform .2s ease;
    transition: transform .2s ease,-webkit-transform .2s ease;
}


.arrow-side-1 {
    -webkit-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    transform: rotate(-45deg);
}

.arrow-side-2 {
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

.arrow-side-translate{
    -webkit-translate: 12px;
    -ms-translate: 12px;
    translate: 12px;
}

.dropdown-icon span {
    width: 18px;
}